<nav class="nav-extended">
  <div class="nav-wrapper">
    <a href="#" id="logo" class="brand-logo">Logo</a>
    <ul id="nav-mobile" class="nav-items right hide-on-med-and-down">
      <li><a href="#">Home</a></li>
      <li><a href="#">About</a></li>
      <li><a href="#">Contact</a></li>
    </ul>
  </div>
</nav>
      