nav {
    background-color: $primary-color;
}

.nav-items li a {
    font-size: 2rem;
    margin-right: 2.5rem;
    color: #fff;
}

.nav-items li a:hover {
    color: $secondary-color;
    background-color: $quaternary-color;
}

nav #logo {
    font-size: 3rem;
    margin-left: 3rem;
    padding-right: 5rem;
}

.nav-content .tab a {
    font-size: 2.2rem;
    padding-top: .5rem;
    padding-bottom: .2rem;
}

.nav-content .tab a:hover {
    color: $secondary-color;
    background-color: $quaternary-color;
}

.collapsible {
    border: 0;
    margin: .5rem 0 1rem 0;
    box-shadow: none !important;
}